[Unit]
Description=dmcheck Service
After=network.target

[Service]
Type=simple
User=deployer
WorkingDirectory=/opt/dmcheck
ExecStart=/opt/dmcheck/dmcheck
Restart=always
RestartSec=5
EnvironmentFile=-/opt/dmcheck/dmcheck.env

[Install]
WantedBy=multi-user.target
